name: Build ETQW Mod

on:
  workflow_dispatch:

jobs:
  generate-token:
    runs-on: ubuntu-latest
    env:
      APP_ID: ${{ secrets.ETQW_BUILDER_APP_ID }}
      PRIVATE_KEY: ${{ secrets.ETQW_BUILDER_PRIVATE_KEY }}
      REPO_OWNER: kpataki
      REPO_ID: 1094297877

    steps:
      - name: Generate Installation Token
        id: token
        uses: actions/github-script@v7
        with:
          script: |
            const { createAppAuth } = require('@octokit/auth-app');
      
            const auth = createAppAuth({
              appId: parseInt(process.env.APP_ID),
              privateKey: process.env.PRIVATE_KEY,
              installationId: parseInt(process.env.INSTALLATION_ID),
            });
      
            const installationAuthentication = await auth({ type: 'installation' });
      
            return installationAuthentication.token;

      - name: Show token
        run: echo "TOKEN=${{ steps.token.outputs.result }}"
