name: Build ETQW Mod

on:
  workflow_dispatch:

jobs:
  generate-token:
    runs-on: ubuntu-latest
    env:
      APP_ID: 2273447
      INSTALLATION_ID: ${{ secrets.ETQW_BUILDER_INSTALL_ID }}
      PRIVATE_KEY: ${{ secrets.ETQW_BUILDER_PRIVATE_KEY }}
      REPO_OWNER: kpataki
      REPO_ID: 1094297877

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      
      - name: Install dependencies
        run: npm install @octokit/auth-app
      
      - name: Generate Installation Token
        id: token
        run: |
          node <<'EOF'
          const fs = require('fs'); //Temp
          const { createAppAuth } = require('@octokit/auth-app');
      
          const auth = createAppAuth({
            appId: parseInt(process.env.APP_ID),
            privateKey: process.env.PRIVATE_KEY.replace(/\\n/g, '\n'),
            installationId: parseInt(process.env.INSTALLATION_ID),
          });
      
          (async () => {
            const installationAuthentication = await auth({ type: 'installation' });
            console.log(`::set-output name=result::${installationAuthentication.token}`);

            // Save token to file //Temp
            fs.writeFileSync('installation_token.txt', installationAuthentication.token, { encoding: 'utf-8' });
          })();
          EOF

        # Temp
      - name: Upload Installation Token as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: installation-token
          path: installation_token.txt
